@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-weight: bold;
}

h4 {
  line-height: 34px;
}

h5 {
  font-weight: 600;
}

.hero img {
  height: 650px;
}

.stats img {
  width: 90%;
  margin-left: -12px;
}

.icons h2 {
  font-size: 56px;
}

.icons .fa-quote-right {
  opacity: 0.2;
}

.company-img img {
  width: 15% !important;
}

@media screen and (max-width: 768px) {
  .course-img img {
    width: 280px;
  }

  .stats img {
    width: 100%;
    margin-left: 0px;
  }
}
